Francophone/Library/
Francophone/Temp/
Francophone/.vs/
Francophone/Assembly-CSharp.csproj
Francophone/Assembly-CSharp-Editor.csproj
Francophone/Francophone.sln
Francophone/obj/
Francophone/Francophone.apk
